.App {
  margin: auto;
  width: auto;
  height: 1000px;
  background: rgb(51, 51, 51);
}

.pgAll {
  margin-top: 150px;
  margin-bottom: 150px;
}

.bordering {
  border: 1px solid #fff;
}

.navW_H {
  height: 20px;
}